<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录界面</title>
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <div class="form-container">
        <h1 class="title">用户登录</h1>
        <form id="formContainer" class="form-wrapper">
            <div class="form-item">
                <input id="userName" class="text" type="text" placeholder="请输入登录账号">
            </div>
            <div class="form-item password-container">
                <input id="userPassword" type="password" placeholder="请输入登录密码">
            </div>
            <input type="submit" class="signin" value="登录">
        </form>
        <a href="/loginByGithub" class="other-login-methods">使用github账户进行登录</a>
        <div class="copy-rights">
            <p>Copyright © 2015.Company name All rights reserved.<a class="switch-register" href="/register.html">还没有有账号，立即注册</a></p>
        </div>
    </div>
</body>

</html>